.sidebar-about h1 {
    color: #fff;
    margin-top: 0;
    font-family: "Abril Fatface", serif;
    font-size: 2.23rem;
}

.sidebar-about .lead {
    font-size: 0.8rem;
    font-weight: 300;
}

@media (min-width: 48rem)
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 16rem!important;
    text-align: left;
}

@media (min-width: 48rem)
.content {
    max-width: 48rem;
}
